<h1>タスクの編集ページ</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :content, '' %>
  <%= f.text_field :content %>
  <%= f.label :content, 'status' %>
  <%= f.text_field :Status %>

  <%= f.submit '登録' %>
<% end %>

<%= link_to '前のページ', task_path(@task) %>
<%= link_to 'タスク一覧に戻る', tasks_path %>